3 roles teacher student, admin
teacher logs in, with a predefined password.
teacher can change their password and see their dashboard.
teacher can create a course
teacher can make an assignment
teacher dashboard must show courses, courses should show assignments.
teacher can make a rubric for each assignment by clicking create rubric after creating the assignment.
teacher can upload a roster as a csv file to the course. full-name, email. for each student.
teacher can see all students on the roster and whether they have registered or not.
teacher must be able to create new groups and name the group
teacher can create groups from the roster of students who have registered (list of potential members must update from available students who are not in groups).
teacher must be able to edit group: name, members, settings etc.
teacher must be able to delete group (confirmations must block).
after the roster is uploaded, the students can log in with their email.
students must be able to log into the system.
students can search for their course.
Students must be able to register if their email is already part of the course roster.
students must be able to log into courses they are already registered for.
students must see registered courses in their dashboard.
Students must see their total grade on the course card.
Students must be able to see their profile information.
students must be able to click the course and see the assignments.
students must be able to enter the assignment and submit the peer evaluation.
students must be able to submit their work for an assignment, files, text etc.
Students must be able to see the submitted assignments from their team members.
students can peer review their team members privately.
students can see their grades for each assignment in the assignment page.
Documentation must include instructions for future devs on how to start and test the project with mock credentials.
