.ClassHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.ClassMemberList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 100%;
}

.Member {
  width: 80%;

  padding: 10px;
  margin: 12px;

  border-bottom: 1px solid var(--background-secondary);
}

.Member:hover {
  cursor: pointer;
  background-color: var(--background-secondary);
}

.MemberContent {
  display: flex;
  align-items: center;
  gap: 15px;
}

.MemberProfilePicture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.MemberInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
}

.MemberNameRow {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}